.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.memes_button {
  opacity: 1;
  border-radius: 8px;
  color: chartreuse;
  font-size: 16px;
  border: 2px solid chartreuse;
  background-color: coral;
  cursor: pointer;
}

.memes_button:hover {
  opacity: 2;
  color: gold;
  box-shadow: 8px 8px 8px pink;
}

.memes_text {
  color:hotpink;
  background-color: blue;
  width: 10vw;
  
  font-size: 24px;
}
